


    <div class="user_greeted">
        <h1>Number of greeted users</h1>
    <h3 >Hello, {{user.name}} has been greeted {{user.count}} times.</h1>
    <form action="/" method="get" >
    <button type="submit" class="back-button">Home</button>
    </form>
     <form action="/greeted" method="GET" class="greet_button_container">
        <button type="submit" class="greeted-button">Greeted users</button>
    </form>
</div>
