


    <div class="user_greeted">
    
    <h3 >Hello, {{user.name}} has been greeted {{user.count}} times.</h1>
    <div class="button_container">
      <form action="/" method="get" >
    <button type="submit" class="home_button">Home</button>
    </form>
     <form action="/greeted" method="get" class="greet_button_container">
        <button type="submit" class="greet-button">Greeted users</button>
    </form>
    </div>
    
</div>
