

<div class="greeted_container">
  <h1>List of Greeted Users:</h1>
  <table>
   
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
