

<div class="greeted_container">
  <h1>List of Greeted Users:</h1>
  <table>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
        </tr>
        <form action="/counter/users">
        <button type="submit">View</button>
        </form>
      {{/each}}
    </tbody>
  </table>
  <form action="/" method="get">
    <button type="submit" class="back-button">Back to Home</button>
  </form>
</div>
