

<div>
  <h1>List of Greeted Users</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.count}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
