<div class="greeted_container">
  <h1>List of Greeted Users:</h1>
  <table>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.name}}</td>
          <td>
            <form action="/counter/{{this.name}}">
              <button type="submit" class="view">View</button>
            </form>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
  <form action="/" method="get">
    <button type="submit" class="back-button">Back to Home</button>
  </form>
</div>