<div class="row">
  <h1 class="title">Greetings</h1>
  <form action="/greeting" method="POST" class="greeting">
    <div class="form_container">

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
    </div>
    <button type="submit"> Greet Me</button>
  </form>
</div>