

body {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.title {
    text-align: center;
    font-size: 4rem;
}

label {
    margin-right: 1em;
}

.greeting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

.form_container {
    display: flex;
  
}