
body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../images/greeting_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: bisque;
    position: relative; /* Add this to contain the absolute positioning of the ::before element */
    margin: 0; /* Ensure that there's no margin */
    overflow: hidden; /* Prevent any accidental overflow */
    min-height: 100vh; /* Set a minimum height to ensure full coverage */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.dummy_container {
    width: 30%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

/* greeting message */

.greeting_container {
    max-width: 700px;
    width: 50%;
}

.form_container {
    display: flex;
    justify-content: center;
}

label {
    margin-right: 0.5em;
}


.greeting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

.greeting button {
    margin: 2em auto;
    margin-bottom: 0;
    width: 50%;
    font-size: 1.5rem;
    padding: 10px;
    color: #fff;
    background-color: #2f993d;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
}

.greeting button:hover {
    background-color: #1eb46c;
}

.greeting button:active {
    background-color: #38a03f;
}

.message_display p {
    color: #77d5cc;   /* Sets the text color */
    font-size: 3rem;  /* Sets the font size */
    font-weight: bold; /* Makes the text bold */
    text-align: center; /* Centers the text */
    transition: 1s ease-in-out;

    /* Adding some animation */
    animation: fade-in-out 4s;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
   
}

/* language */


.language-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.language-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.language-item label {
    font-size: 2rem;
}

.language {
    transform: scale(1.5); /* Makes the radio button 1.5 times larger */
    margin-right: 10px; /* Adds some space between the radio button and the label */
}

/* count */

.count_container {
   display: flex;
   align-content: center;
   justify-content: center;
   height: 100vh;
   width: 30%;
}

.count_container div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.count_container h2 {
    text-align: center;
}

.count_container span {
    border: rgb(39, 36, 36) solid 5px;
    border-radius: 10px;
    font-size: 5rem;
    color: black;
    background-color: white;
    height: 100px;
    text-align: center;
    margin: 0 auto;;
    width: 60%;
    padding-bottom: 0.52em;
}

/* reset */


.reset-button {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: darkred;
}

.reset-container {
    display: flex;
    justify-content: center;
}

/* greeted button */

.greet_button_container {
    display: flex;
    justify-content: center;
  
}

.greeted-button {
    background-color: rgb(91, 92, 21);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
}

.greeted-button:hover {
    background-color: rgb(139, 130, 0);
}

/* greeted page */

.greeted_container {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
}
  
.greeted_container h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .greeted_container {
    border-collapse: collapse;
    width: 40%;
  }
  
  
  .greeted_container tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .greeted_container td {
    text-decoration: underline;
    text-align: center;
    align-self: center;
    padding: 4px;
    font-size: 2rem;
  }

  .back-button {
    background-color: #539055;
    color: bisque;
    padding: 14px 20px;
    margin: 2em 4em;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }

  .view {
    cursor: pointer;
    color: bisque;
    background-color: rgb(149, 51, 29);
    border: none; /* Removes the default border */
    padding: 10px 15px; /* Adds padding around the text */
    text-transform: uppercase; /* Makes the text uppercase */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s ease; /* Adds a smooth color transition */
    border-radius: 10px;
    margin-top: 2em;
  }
  
  .view:hover {
    background-color: rgb(84, 36, 36); /* Changes the background color when hovered */
  }
  


  .user_greeted h1{
    font-size: 2rem;
    text-align: center;
  }

  .user_greeted h3 {
    font-size: 3rem;
    margin-top: 4em;
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_container button {
    height: 10vh;
  }

  .home_button,  
  .greet-button {
    padding: 1em 2em;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s; /* Add this for smooth hover transition */
    font-weight: bold;
  }
  
  .home_button {
    background-color: rgb(92, 92, 165);
    color: white;
  }
  
  .home_button:hover {
    background-color: rgb(72, 72, 145); /* Slightly darker shade for hover */
    color: lightgray; /* Change text color on hover if needed */
  }
  
  .greet-button {
    background-color: rgb(44, 96, 44);
    color: bisque;
    margin-left: 10px;
  }
  
  .greet-button:hover {
    background-color: rgb(58, 139, 58); /* Slightly darker shade for hover */
    color: white; /* Change text color on hover if needed */
  }
  

  @media (max-width: 768px) {
   html{
        font-size: 10px;
    }
    .message_display p {
        font-size: 2rem;
    }
    .count_container span {
        font-size: 3rem;
    }
    /* Add any other necessary adjustments here */
}

@media (max-width: 768px) {
  .row {
    
  }
  .greeting_container, .dummy_container, .count_container {
      width: 100%;
      max-width: 100%;
  }
  .language-container {
      flex-direction: column;
  }
  .greeting button {
      width: 70%;
  }
  /* Add any other necessary adjustments here */
}