

body {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.greeting {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}