

body {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}


.form_container {
    display: flex;
    
}

label {
    margin-right: 0.5em;
}


.greeting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

.greeting button {
    margin-top: 2em;
    width: 50%;
}
